/* TOPO CMA */
.cma-header h2 {font-size:2.5em;letter-spacing:-0.06em;float:left;}
.cma-header {border-bottom:1px solid #ddd;display:block;margin-bottom:3.33em;overflow:hidden;padding: 40px 0 10px 0;zoom:1;}


/* FORM - BOTOES */
.form-btn {
    font-size:11px;
}

.form-btn img {
    margin-right:5px;
}

.form-btn-branco {
    background: transparent url(/media/img/admin/bkg_form_btns.png) repeat-x;
    background-position: 0 -127px;
    border-left: 1px solid #f5f5f5;
    border-right: 1px solid #f5f5f5;
    color: #1F79FF;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    padding: 8px 10px;
    position: relative;
    text-decoration: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -webkit-box-shadow: 0 1px 3px #999;
}


