.cma-popin {background-color:#fff;display:none;width:81.583em;height:48.25em;min-height:642;position:relative}
.cma-popin-alerta {height:52.92em;}
.cma-popin .cma-popin-header {border-bottom:1px solid #dedede;color:#333;margin:1em 1.33em;padding-bottom:1em;}
.cma-popin .cma-popin-header h3 {font-size:2.16em;font-weight:normal;letter-spacing:-1px;}
.cma-popin .cma-popin-body {overflow:hidden;padding:0 1.33em;zoom:1;}

.cma-popin .cma-popin-footer {background-color:#f5f5f5;height:4.08em;position:absolute;bottom:0;overflow:hidden;width:100%;}
.cma-popin .btn-close {background-color:#fff;border:1px solid #ccc;color:#333;display:block;font-size:1.333em;font-weight:bold;float:right;height:1.35em;margin:0.3em;width:1.35em;text-align:center}

.cma-popin .cma-popin-footer .cma-popin-footer-content {margin:0 auto;width:24.5em;}
.cma-popin .cma-popin-footer .cma-save-popin {float:left;}
.cma-popin .cma-popin-footer .cma-cancel-popin {background:none;border:0;float:right;}
.cma-popin .cma-popin-footer .btn-default {font-size:1.33em;margin-top:0.6em;*margin-top:0.8em;padding:0.3em 0;width:9em;}
.cma-popin .cma-popin-footer .btn-disabled {color:#999 !important;cursor:default;}

.cma-popin .cma-popin-confirm {display:none;margin-bottom:3em;overflow:hidden;padding:0 1em;zoom:1;}
.cma-popin .cma-popin-confirm .cma-popin-confirm-message, .cma-popin .cma-popin-confirm img, .cma-popin .cma-popin-confirm button {float:left;margin-top:1em;}
.cma-popin .cma-popin-confirm button {font-size:1em !important;margin:1.1em 0 0 1em !important;width:7em !important;}
.cma-popin .cma-popin-confirm .cma-popin-confirm-message {color:#666;font-size:1.33em;font-weight:bold;letter-spacing:-1px;margin:1.0em 0 0 0.5em;width:45em;}

.cma-popin .cma-popin-tabs {background:url(/media/img/sistema/bkg_tab_page_properties.gif);overflow:hidden;zoom:1;}
.cma-popin .cma-popin-tabs li {float:left;margin-right:0.5em;width:11.666em;}
.cma-popin .cma-popin-tabs li a {background-color:#f5f5f5;border:1px solid #ccc;color:#666;font-size:1.33em;display:block;padding-top:0.47em;text-align:center;height:1.75em;*height:1.65em}
.cma-popin .cma-popin-tabs li.ui-tabs-selected a {background-color:#fff;border-bottom:1px solid #fff;font-weight:bold;}
.cma-popin .ui-tabs-hide {display:none}
.cma-popin .ui-tabs-disabled a {background-color:#f1f1f1;border:1px solid #ddd !important;border-width:1px 1px 0 1px !important;color:#999 !important;cursor:default;}

.cma-popin-hightlights .ui-tabs-disabled {display:none;}

.cma-popin-body .cma-popin-content {overflow:auto;height:29.5em;position:relative;}
.cma-popin-body .cma-popin-content-photo {overflow:auto;height:36.3em;position:relative;}

