#cma-rodape {background:#f5f5f5;padding:2em 0;text-align:center;}
#cma-rodape p img {vertical-align:middle;}
#cma-rodape p strong {border-left:1px dotted #989898;color:#999;font-family:Georgia;font-style:italic;margin:0 1em;padding:0 1em}
